body {
    font-family: sans-serif;
}
header{
    background-color: #0776A0;
    width: 960px;
    height: 101px;
}
header a{
    position: absolute;
    left: 140px;
    top: 35px;

    font-family: Montserrat;
    font-size: 36px;
    color: #000000;
    
}
a{
    text-decoration: none;
    background-color:#ffdc40ff;
    border-radius: 10px;
    padding: 5px;
}

footer{ 
    background-color: #024C68;
    position: absolute;
    width: 959px;
    height: 160px;
    top: 2050px;
}
header img{
    position: absolute;
    width: 87px;
    height: 47px;
    left: 25px;
    top: 27px;
}

h1{
    position: absolute;
    width: 459px;
    height: 66px;
    left: 250px;
    top: 136px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;

    color: #000000;
}
h2{
    position: absolute;
    width: 387px;
    height: 72px;
    left: 36px;
    top: 237px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;

    color: #FF2C00;

}

main img {
    margin-left: 30px;
    margin-bottom: 35px;
}

.gallery {
    margin-top:200px;
}

.dachnoe{
    margin-top: 70px;
}

.sochi{
    margin-top: 90px;
}


h3{
    position: absolute;
    width: 387px;
    height: 51px;
    left: 33px;
    top: 872px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;

    color: #FF2C00;

}

h4{
        
    position: absolute;
    width: 387px;
    height: 49px;
    left: 29px;
    top: 1321px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;

    color: #FF2C00;

}

footer p{
    margin-left: 30px;
    margin-bottom: 50px;
    color: white;

}



